/*Container 1*/
.our_mission{
    background-color: rgb(234, 216, 177);/*background-color: rgb(232, 92, 13);/**/
    padding: 1.25rem;
    border-radius: 0.625rem;
    border: 0.156rem solid rgb(174, 161, 133);

    margin-bottom: 1.25rem;
}

.our_mission_title{
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
}

/*Container 2*/
.team_members{
    background-color: rgb(234, 216, 177);/*background-color: rgb(232, 92, 13);/**/
    padding: 1.25rem;
    border-radius: 0.625rem;
    border: 0.156rem solid rgb(174, 161, 133);

    margin-bottom: 1.25rem;

    display: grid; /* Use CSS Grid */
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 1.25rem; /* Spacing between the items */
}

.member{
    background-color: rgb(174, 161, 133);/*background-color: rgb(232, 92, 13);/**/
    padding: 1.25rem;
    border-radius: 0.625rem;
    border: 0.156rem solid rgb(130, 121, 100);
}

.member img{
    height: 5rem;
    width: auto;
}

.member h5{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
}

.member h6{
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
}

/*Container 3*/
.thunder_video_prgrph {
    background-color: rgb(234, 216, 177);/*background-color: rgb(232, 92, 13);/**/
    padding: 1.25rem;
    border-radius: 0.625rem;
    border: 0.156rem solid rgb(174, 161, 133);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thunder_video{
    width: 100%;
    max-width: 49rem;
    height: auto;

    border-radius: 0.625rem;
    border: 0.156rem solid rgb(174, 161, 133);

    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

/* ---------- MEDIA QUERIES ---------- */
@media (max-width: 768px){
    .our_mission_prgph, .thunder_video_prgrph {
        font-size: 0.9rem;
    }

    .member h5{
        font-size: 1.3rem;
    }

    .member h6{
        font-size: 0.8rem;
    }
}

@media (max-width: 600px){
    .our_mission_title {
        font-size: 3rem;
    }

    .our_mission_prgph, .thunder_video_prgrph {
        font-size: 0.8rem;
    }

    .member img{
        height: 4rem;
    }

    .member h5{
        font-size: 1.08rem;
    }

    .member h6{
        font-size: 0.68rem;
    }
}

@media (max-width: 480px){
    .our_mission_title, .second_our_mission_title {
        font-size: 2.7rem;
    }

    .our_mission_prgph, .thunder_video_prgrph {
        font-size: 0.6rem;
    }

    .member img{
        height: 2rem;
    }

    .member h5{
        font-size: 0.7rem;
    }

    .member h6{
        font-size: 0.4rem;
    }
}

@media (max-width: 360px){
    .our_mission_title, .second_our_mission_title {
        font-size: 2.5rem;
    }

    .our_mission_prgph, .thunder_video_prgrph {
        font-size: 0.5rem;
    }

    member img{
        height: 0.5rem;
    }

    .member h5{
        font-size: 0.56rem;
    }

    .member h6{
        font-size: 0.3rem;
    }
}