/*Warning container*/
.warning_container{
    background-color: rgb(234, 216, 177);/*background-color: rgb(232, 92, 13);/**/
    padding: 1.25rem;
    border-radius: 0.625rem;
    border: 0.156rem solid rgb(174, 161, 133);

    margin-bottom: 1.25rem;
}

.warning_text{
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
}

/*credits container*/
.credits_container{
    background-color: rgb(234, 216, 177);/*background-color: rgb(232, 92, 13);/**/
    padding: 1.25rem;
    border-radius: 0.625rem;
    border: 0.156rem solid rgb(174, 161, 133);
}

.attribution_text{
    font-size: 3.8rem;
    font-weight: bold;
    font-style: normal;
}

/*List item styling*/
.attribution_list {
    list-style-type:lower-greek; /* Removes default bullet points */
    padding: 1.25rem; /* Remove padding */
    padding-left: 2.5rem;
}

.attribution_list li {
    margin-bottom: 0.9375rem; /* Adds spacing between list items */
    font-size: 1.2rem; 
}

.attribution_list p {
    color: #000; /* Text color */
}

/* Styling for links and paragraphs within list items */
.attribution_list a {
    color: #333; /* Text color */
    text-decoration: none; /* Remove underlines from links */
}

/* Optional: Add a hover effect for the links */
.attribution_list a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #000; /* Darken color on hover */
}
